$vd-font-src: '../fonts/';
@import 'font-awesome/scss/font-awesome';
// Non styles
@import 'vend.ui/src/styles/global/non-styles';
// Base styles
@import 'vend.ui/src/styles/global/normalise';
@import 'vend.ui/src/styles/global/icons';
@import 'vend.ui/src/styles/global/text/font-faces';
@import 'vend.ui/src/styles/global/text/text-helpers';
@import 'vend.ui/src/styles/global/colour/colour-helpers';
@import 'vend.ui/src/styles/global/placeholders';
@import 'vend.ui/src/styles/global/effects/effects';
// Components
@import 'vend.ui/src/components/vd-link/vd-link';
@import 'vend.ui/src/components/vd-input/vd-input';
@import 'vend.ui/src/components/vd-btn/vd-btn';
@import 'vend.ui/src/components/vd-loader/vd-loader';
@import 'vend.ui/src/components/vd-checkbox/vd-checkbox';
@import 'vend.ui/src/components/vd-field/vd-field';
@import 'vend.ui/src/components/vd-fieldset/vd-fieldset';
@import 'vend.ui/src/components/vd-radio/vd-radio';
@import 'vend.ui/src/components/vd-select/vd-select';
@import 'vend.ui/src/components/vd-switch/vd-switch';
@import 'vend.ui/src/components/vd-text/vd-text';

body,
html {
    background-color: #ffffff;
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.center-text {
    text-align: center;
}

.insert-card {
    margin-bottom: 40px;
}
