<div>
  <div class="vd-field">
    <div class="vd-label">First Name</div>
    <div class="vd-value">
      <input class="vd-input" placeholder="E.g. John">
    </div>
  </div>
  <div class="vd-field">
    <div class="vd-label">Last Name</div>
    <div class="vd-value">
      <input class="vd-input" placeholder="E.g. John">
    </div>
  </div>
  <div class="vd-field">
    <div class="vd-label">Error Input</div>
    <div class="vd-value">
      <input class="vd-input vd-input--error" placeholder="E.g. John">
    </div>
    <div class="vd-input-error-message-section">
      <span class="fa fa-exclamation-triangle"></span>
      <span class="vd-input-error-message-text">Input required</span>
  </div>
  </div>

  <div class="vd-checkbox vd-checkbox--primary">
    <label class="vd-checkbox-container">
      <div class="vd-checkbox-input-container">
        <input class="vd-checkbox-input" type="checkbox">
        <div class="vd-checkbox-tick"></div>
          <div class="vd-checkbox-label">
          What are you toggling
        </div>
      </div>
      <div class="vd-checkbox-description">
        A short description of the consequences
      </div>
    </label>
  </div>
  <h3 class="vd-text-subheading">Select (with Opt-group)</h3>
  <div class="vd-field">
    <div class="vd-label">Register</div>
    <div class="vd-value">
      <div class="vd-select-container">
        <select class="vd-select">
          <optgroup label="Outlet A">
            <option label="Group Item 2.0" selected="selected">Register A.1</option>
            <option label="Group Item 2.1" value="2.1">Register A.2</option>
            <option label="Group Item 2.2" value="2.2">Register A.3</option>
          </optgroup>
            <optgroup label="Outlet B">
            <option label="Group Item 1.0" value="1.0">Register B.1</option>
            <option label="Group Item 1.1" value="1.1">Register B.2</option>
          </optgroup>
        </select>
      </div>
    </div>
</div>
