<!DOCTYPE html>
<html>

<head>
  <title>
    Pay Example
  </title>

  <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/assets/css/vend-peg.css">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="/assets/js/pay.js"></script>
</head>

<div class="container center">
  <div id="statusMessage"></div>
  
  <div id="outcomes">
    <div class="center-text">
      <button class="vd-btn vd-btn--do" onclick="sendPayment('accept');">
        Accept
      </button>
      <button class="vd-btn vd-btn--no" onclick="sendPayment('decline');">
        Decline
      </button>
      <button class="vd-btn vd-btn--no" onclick="sendPayment('timeout');">
        Timeout
      </button>
      <button class="vd-btn vd-btn--supplementary" onclick="cancelPayment();">
        Cancel
      </button>
      <p><a href="javascript:void(0)" class="vd-link" onclick="seeForm();">See how to add form elements</a></p>
    </div>


  </div>
</div>

</html>