<!DOCTYPE html>
<html>

<head>
  <title>
    Pay Example
  </title>

  <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/assets/css/vend-peg.css">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="/assets/js/pay.js"></script>
</head>

<div class="container center">
  <div id="statusMessage" class="center-text"></div>

  <div id="outcomes">
    <div class=center-text>
      <button class="vd-button vd-button--primary" onclick="sendPayment('accept');">
        Accept
      </button>
      <button class="vd-button vd-button--negative" onclick="sendPayment('decline');">
        Decline
      </button>
      <button class="vd-button vd-button--negative" onclick="sendPayment('timeout');">
        Timeout
      </button>
      <button class="vd-button vd-button--secondary" onclick="cancelPayment();">
        Cancel
      </button>
    </div>
  </div>
</div>

</html>